/*Styled by Row 18*/

/* AnchorPane styling */
#adminDashboard {
    -fx-background-color: #ffffff; /* Set background color to white */
}

/* Rectangle styling */
#adminDashboard .rectangle {
    -fx-arc-width: 5.0; /* Set arc width */
    -fx-arc-height: 5.0; /* Set arc height */
    -fx-fill: transparent; /* Set fill color to transparent */
    -fx-stroke: black; /* Set stroke color to black */
    -fx-stroke-type: inside; /* Set stroke type to inside */
}

/* Button styling */
#adminDashboard .button {
    /*-fx-background-color: #828ab4; /* Set button background color to a shade of purple */
    /*-fx-font-size: 14px; /* Set button font size */
    /*-fx-border-radius: 3; /* Set border radius to make corners smoother */

    -fx-background-color: #828ab4;
    -fx-font-size: 14px;
    -fx-border-radius: 3px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2,0,0,1);
}

#adminDashboard .button .text {
    /*-fx-fill*/ /*Set button text color to white*/
    -fx-fill: #ffffff;
}

#adminDashboard .button:hover {
    /*-fx-background-color: #a3baf9; /* Set button hover background color to a slightly lighter shade of purple*/

    -fx-background-color: #a3baf9;
    -fx-transition: all 0.3s;
}

/* Text styling */
#adminDashboard .text {
    -fx-fill:black; /* Set text color to a dark grey */
    -fx-font-size: 13px; /* Set text font size */
}

#adminDashboard #mainEmailTitleLabel .text{
    -fx-font-weight: bold; /*set text weight to bold*/
}

#adminDashboard #idTitleLabel .text{
    -fx-font-weight: bold; /*set text weight to bold*/
}

/* Label styling */
#adminDashboard .label {
    -fx-text-fill: #333333; /* Set label text color to a dark grey */
    -fx-font-size: 12px; /* Set label font size */
    
}

/* Welcome label styling */
#adminDashboard #welcomeLabel .text {
    -fx-font-family: "System"; /*Set font family to System*/
    -fx-font-style: italic; /*Set style to italic*/
    -fx-font-weight: bold; /*Set weight to bold*/
    -fx-font-size: 24px; /* Set welcome label font size to 24px */
}