/* AnchorPane styling */
#forgotPassword {
    -fx-background-color: #cfd9ff; /* Set background color to white */
}


/* Button styling */
#forgotPassword .button {
    /*-fx-background-color: #3498db; /* Set button background color to a shade of blue */
    /*-fx-text-fill: #ffffff; /* Set button text color to white */
    /*-fx-font-size: 14px; /* Set button font size */
    /*-fx-border-radius: 3; /* Set border radius to make corners smoother */

    -fx-background-color: #828ab4;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2,0,0,1);
}

#forgotPassword .button .text{
    -fx-fill:white;
}

#forgotPassword .button:hover {
    /*-fx-background-color: #2980b9; /* Set button hover background color to a slightly darker shade of blue */

    -fx-background-color: #a3baf9;
    -fx-transition: all 0.3s;
}

/* Text styling */
#forgotPassword .text {
    -fx-fill: black; /* Set text color to a dark grey */
    -fx-font-size: 13px; /* Set text font size */
}

#forgotPassword #incorrectIDLabel .text{
    -fx-fill: #42475d;
    -fx-font-weight: bold;
}

#forgotPassword #passwordLengthErrorLabel .text{
    -fx-fill: #42475d;
    -fx-font-weight:bold;
}

#forgotPassword #checkPasswordsErrorLabel .text{
    -fx-fill: #42475d;
    -fx-font-weight:bold;
}



/* Label styling */
#forgotPassword .label .text {
    -fx-text-fill: black; /* Set label text color to a dark grey */
    -fx-font-size: 12px; /* Set label font size */
    
}

/* Welcome label styling */
#forgotPassword #forgotPasswordLabel .text {
    -fx-font-family: "System";
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size: 24px; /* Set welcome label font size to 24px */
}