/*Styled by Row 18*/

/* Root styling */
.root {
    background-color: #f9f9f9; /*Set background color*/
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /*Set font family*/
}

/* Toolbar styling */
.tool-bar {
    -fx-background-color: #5f6a9a; /*Set background color*/

}

.tool-bar .label {
    -fx-text-fill: #ffffff; /*Set text color*/
    -fx-font-size: 16px; /*Set font size*/
    -fx-font-weight: bold; /*Set font weight*/
}

/* Tabs styling */
.tab-pane {
    -fx-background-color: #ffffff; /*Set background color*/
    -fx-padding: 20px; /*Set padding*/
    -fx-border-width: 1px; /*Set boarder width*/
    -fx-border-color: #ddd; /*Set boarder color*/
}

.tab-pane .tab-header-area {
    -fx-background-color: transparent; /*Set background color*/
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #aab1d2; /*Set background color*/
}

.tab-pane .tab {
    -fx-background-color: transparent; /*Set background color*/
    -fx-text-fill: #333333; /*Set text color*/
    -fx-font-size: 14px; /*Set font size*/
    -fx-background-insets: 0; /*Set insets*/
    -fx-padding: 10px 20px; /*Set padding*/
    -fx-cursor: hand; 
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2,0,0,1);
    -fx-transition: all 0.3s;
}

/* Selected tab styling */
.tab-pane .tab:selected {
    -fx-border-color: #5F6A9A; /*Set boarder color*/
    -fx-border-width: 0 0 2px 0; /*Set boarder width*/
}

.tab-pane .tab:selected .tab-label {
    -fx-font-weight: bold; /*Set weight*/

}

.tab-pane .tab-area {
    -fx-padding: 0; /*Set padding*/
}

.tab-pane .headers-region {
    -fx-alignment: center; /*Set alignment*/
}

.tab-pane .tab .tab-label {
    -fx-padding: 0; /*Set padding*/
    -fx-background-insets: 0; /*Set insets*/
}

/* Textfield styling */
.text-field {
    -fx-background-color: #ffffff; /*Set background color*/
    -fx-border-color: #ddd; /*Set boarder color*/
    -fx-border-radius: 3px; /*Set boarder radius*/
}

/* Button styling */
.button {
    -fx-background-color: #5f6a9a; /*Set background color*/
    -fx-text-fill: #ffffff; /*Set text color*/
    -fx-font-size: 14px; /*Set font size*/
    -fx-border-radius: 3px; /*Set boarder radius*/
    -fx-padding: 10px 20px; /*Set padding*/
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2,0,0,1);
}

.button:hover {
    -fx-background-color: #aab1d2; /*Set background color*/
    -fx-transition: all 0.3s;
}

/* Toolbar Label Text-Styling*/
.text.label {
    -fx-fill:white; /*Set text color*/
    -fx-font-size: 14px; /*Set font size*/
} 

/*Text-styling*/
.text{
    -fx-fill: black; /*Set text color*/
    -fx-font-size: 14px; /*Set font size*/
}

/* AnchorPane styling */
.anchor-pane {
    -fx-background-color: #f9f9f9; /*Set background color*/
    -fx-padding: 20px; /*Set padding*/
}